Z_NEAR 40.0
Z_FAR 400000.0
FOVY 45.0
SCREEN_SPACE_ERROR 0.7
PREFETCHING_FACTOR 1.5
VIEWPORT_WIDTH 750
VIEWPORT_HEIGHT 1000
INIT_NUM_VBS 25
INIT_NUM_TEXTURES 300
SYSTEM_MEMORY_USAGE_LIMIT 0.6

//TERRAIN_FILE_NAME ..\Utah8m.terrain
TERRAIN_FILE_NAME F:\TerrainData\Utah1m.terrain